.dialog-form-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.dialog-input-field {
    width: 95%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.dialog-select-field {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.dialog-label {
    width: 100%;
    text-align: left;
}

.submit-button {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: none;
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.close-button {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: none;
    background-color: #F44336;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.info-button {
    width: 20%;
    padding: 10px;
    border-radius: 4px;
    border: none;
    background-color: #2196F3;
    /* background-color: rgb(165, 161, 161); */
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.error-message {
    color: red;
    padding: 10px 20px 10px 10px;
}
