.dialog-form-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.dialog-input-field {
    width: 95%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.dialog-select-field {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.dialog-label {
    width: 100%;
    text-align: left;
}

.submit-button {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: none;
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.close-button {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: none;
    background-color: #F44336;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.info-button {
    width: 10%;
    padding: 10px;
    border-radius: 4px;
    float: left;
    margin: 2px;
    border: none;
    background-color: #2196F3;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.error-message {
    color: red;
    padding: 10px 20px 10px 10px;
}

/* Overlay to disable background interaction */
.dialog-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    z-index: 9998; /* Ensure it appears above other elements */
}

/* Dialog box styling */
dialog {
    z-index: 9999; /* Ensure it appears above the overlay */
}

/* Disable scrolling when the dialog is open */
body.dialog-open {
    overflow: hidden;
}
