*{
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body {
    margin: 0;
    height: 100vh;
    background-color: #1d1d20;
    background-image: url(./images/React.webp);
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: 50%;
}
nav {
    display: flex;
    align-items: center;
    background-color: black;
    height: 90px;
    padding: 30px 25px;
}
nav > h3, nav > h4 {
    margin-right: 0;
}
nav > h3 {
    margin-right: auto;
    margin-left: 4px;
    font-weight: 700;
    font-size: 25px;
    color: #61DAFB;
}
nav > h4 {
    color: white;
}
h1{
    font-size: 4rem;
}
.main{
    padding: 57px 27px;
    color: white;
}

.main > div > ul > li {
    line-height: 25px;
}

.main > div > ul > li::marker {
    color: #61DAFB;
    font-size: 1.4rem;
}