*{
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body {
    margin: 0;
    /* height: 100vh; */
}
nav {
    height: 70px;
    display: flex;
    background-color: white;
    /* background-color: black; */
    /* height: 90px; */
    padding-left: 12px;
}
.bnb-logo {
    /* max-width: 120px; */
    margin: 6px;
}
.hero{
    padding: 57px 27px;
}